body{
    background: #22C1C3;
background: radial-gradient(circle,rgb(20, 187, 190) 0%, rgb(243, 225, 183) 100%);

}
.addBook-btn{
    margin-top: 50px;

}
#addButton{
    height: 100;
    background-color: rgb(26, 29, 207);
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    color: white;
    padding: 20px;
    margin-left: 10px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 50px;
}
.main{
    display: flex;
    flex-direction: column;
    width: 500px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#myForm{
    display: flex;
    flex-direction: column;
}
input{
    margin: 5px;
}
.submit-btn{
    margin-top: 20px;
    background-color: rgb(26, 29, 207);
    color: white;
    border: none;
    padding: 5px;
    border-radius: 5px;
}
.container{
    display: flex;
}
.card{
    width: 250px;
    border: none;
    height: 250px;
    background-color: rgb(165, 226, 228);
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
}
.card-container{
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
}